<div class="profil_name">
Profil uzytkownika: <%= @profil.username %><br />
</div>

Witaj panie: <%= current_user.username %><br />
<div class="main">
  <% @posts.each do |post| %>
    <tr>
      <div class="author">
        <td>
          <%= author(post.id_sender) %>    
          <% if (current_user.id == post.id_owner) or (current_user.id == post.id_sender) %>
            <div class="destroy">
              <%= link_to 'Destroy', post, :method => :delete, :confirm => 'Are you sure?' %>

            </div>
          <% end %>
       </td>
     </div>
   
     <div class="comment">
       <td>
         <%= post.comment %>
       </td>
     </div>
   </tr>
  <% end %>
  <div class="komcie">
    <%= render 'comment' %>
  </div>
</div>

<div class="friends">
<<<<<<< HEAD
  Znajomi<br />
  
=======
  Znajomi<br />  
>>>>>>> a6c43374590b85a579ab63eabc18fa2081dab6a9
   <!-- lista znajomych -->
   <% friends_profil = '0' %>
   <% friends = friend_finder(@friendlist, @profil.id) %>
   <% friends.each do |friend| %>
     <br /> <!-- link do profilu -->
    <%= link_to "#{friend.username}", user_path(friend.id) %>
     <% if friend.username == current_user.username %>
        <% friends_profil = '1' %>
     <% end %>
   <% end %>
</div>
<<<<<<< HEAD

   <!-- Dodawanie do znajomych -->
  
  <% if (friends_profil == '0') && (@profil.id != current_user.id) %>
=======
  <!-- testowe sprawdzenie  -->
   <% @friendlist.each do |friend| %>
     <%= friend.id_user %>
   <% end %>

   <!-- Dodawanie do znajomych -->
  
  <% if (friends_profil == '0') && (current_user.id != @profil.id) %>
>>>>>>> a6c43374590b85a579ab63eabc18fa2081dab6a9
   <div class="add_friend">
     <%= render 'add_to_friend' %>
   </div>
  <% end %>
<<<<<<< HEAD
=======
</div>
   <% friends = friend_finder(@friendlist, @profil.id) %>
   <% friends.each do |friend| %>
     <%= friend.username %><br />
   <% end %>
>>>>>>> a6c43374590b85a579ab63eabc18fa2081dab6a9
